body {
    background-color: #f5f3f3;
}   
.input-box{
    background-color: white;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(159, 158, 158);
    width: 520px;
    height: 420px;
    position: absolute;
    right: 160px;
    bottom: 120px;
}
.email-inp{
    background-color: #f5f5f5;
    border: 1px solid rgb(196, 193, 193);
    border-radius: 7px;
    margin-top: 70px;
    margin-left: 50px;
    padding-left: 10px;
    width: 417px;
    height: 40px;
}
.pass-inp{
    background-color: #f5f5f5;
    border: 1px solid rgb(196, 193, 193);
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 10px;
    width: 417px;
    height: 40px;
}
.log-inp{
    background-color: #0A2C09;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 50px;
    width: 417px;
    height: 40px;
}
.usebook-img{
    width: 420px;
    height: 70px;
    margin-left: 120px;
}
.forgotten{
    color: black;
    margin-left: 190px;
    margin-top: 10px;
}
/* page.css */

/* Add vertical line under 'Forgotten password?' */
.forgotten {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Adjust as needed */
  }

.forgotten:hover{
    cursor: pointer;
    text-decoration: underline;
}
  
  .forgotten::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -110px;
    top: 35px;
    width: 400px;
    height: 1px; /* Adjust the height of the line */
    background-color: rgb(200, 200, 200); /* Color of the line */
  }

.new-acc{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 120px;
    width: 290px;
    height: 40px;
}
.sm-sentence{
    position: absolute;
    top: 627px;
    right: 300px;
}
.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    width:400px;
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(114, 114, 114);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: #0A2C09;
    padding: 16px 32px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable:hover {
    filter: brightness(110%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
  

  @media screen and (max-width:736px){
    .usebook-img{
      width: 250px;
      height: 40px;
      margin-left: 10px;
      margin-top: -200px;
  }
  .usebook-content{
    margin-top: -230px;
    margin-left: -120px;
  }
  .input-box{
    width: 360px;
    height: 420px;
    position: absolute;
    right: -10px;
    bottom: 120px;
  }
  .email-inp{
    margin-top: 40px;
    margin-left: 24px;
    width: 317px;
    height: 40px;
  }
.pass-inp{
    margin-left: 24px;
    width: 317px;
    height: 40px;
  }
  .pushable {
    width:317px;
    margin-left: 24px;
  }
  .forgotten{
    margin-left: 110px;
  }
  .new-acc{
    margin-left: 35px;
    width: 290px;
  }
  .sm-sentence{
   display: none;
  }
  
  }

  @media only screen and (min-width: 501px) and (max-width: 1024px){
    .usebook-img{
      width: 250px;
      height: 40px;
      margin-left: 35px;
      margin-top: -150px;
  }
  .usebook-content{
    margin-top: -170px;
    margin-left: -100px;
  }
  .input-box{
    width: 360px;
    height: 420px;
    position: absolute;
    right: -10px;
    bottom: -45px;
  }
  .email-inp{
    margin-top: 40px;
    margin-left: 24px;
    width: 317px;
    height: 40px;
  }
.pass-inp{
    margin-left: 24px;
    width: 317px;
    height: 40px;
  }
  .pushable {
    width:317px;
    margin-left: 24px;
  }
  .forgotten{
    margin-left: 110px;
  }
  .new-acc{
    margin-left: 35px;
    width: 290px;
  }
  .sm-sentence{
    display: none;
  }
  
  }